# -FrontPage-

Options +FollowSymlinks

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName mesubo.cl
AuthUserFile /home/mesubocl/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/mesubocl/public_html/_vti_pvt/service.grp
